/* ----- CUSTOMIZED TAGS -------*/
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
	font-family: 'Quicksand', sans-serif;
}

img{
	border: none;
}

footer{
	text-align: center;
}

/* ----- CUSTOMIZED CLASSES -------*/
.loadpage{
	font-family: 'Quicksand', sans-serif;
}

.img-slider{
	width: 100%;
    height: auto;
}

.swiper-container {
  height: 200px;
}

.progressbar-infinite{
	width: 50%;
}

.loading-gif{
	text-align: center;
}

.loading-gif .legenda{
	font-size: 16px;
	color: #FF7F00;
}

.navbar .navbar-inner .centralizado{
	width: 100%;
	text-align: center;
}

.welcome-page{
	background-color: #201F1E;
}

.imagem-centralizada{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.imagem-menu{
	display: block;
	margin-left: 50px;
}

.barra-carregamento{
	margin-top: 100px;
}

.icones{
	width: 60px;
	margin-top: 20px;
}

.color-maroom{
	background: #363636!important;
    color: #fff;
}

.color-cerva{
	background: #F9C416!important;
    color: #fff;
}

.color-grey{
	background: #D3D3D3!important;
    color: #363636;
}

.centro{
	text-align: center;
}

.menu-lateral{
	background-color: #3A0809;
}

.fotos-produtos{
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

.wspace-none{
	white-space: nowrap;
}

.material-icons{
	font-size: 30px;
}

.link{
	color: #FF7F00;
}

.custom-txt{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.color-cart{
	background: #0099CF!important;
    color: #fff;
}

.panel-usuario{
	background: #FF7F00!important;
    color: #fff;
    height: 60%;
}

.card-nome-usuario{
	text-align: center;
}

.imagem-usuario{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-top: 15px;
}

.cards-dados{
	text-align: center;
}

.card-pedidos{
	background: #333333!important;
    color: #fff;
    height: 67px;
}

.card-litros{
	background: #3A0809!important;
    color: #fff;
    height: 67px;
}

.title-cards{
	font-size: 30px;
}

.dados-pessoais label{
	color: #FF7F00;
	font-weight: bold;
}

.produto-single-home a span{

}

.produto-single a span{
	bottom: -20px;
}

.nome-bebida{
	font-size: 10px;
	white-space: normal;
	color: #3A0809;
	font-weight: bold;
}

.valor-unidade{
	font-size: 11px;
	color: #8B4500;
}

.preco-prod{
	color: #333;
	font-size: 14px;
}

.panelprod{
	width: 100%;
	height: auto;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	margin-bottom: 5px;
}

.login-page{
	background-image: url('../img/loginbackground.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.login-page a{
	color: #FF7F00;
}

.input-idrink{
	width: 100%;
	height: 40px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #FF7F00;
	font-size: 14px;
	text-transform: uppercase;
	color: #FF7F00;
}

.input-completo{
	width: 100%;
    padding: 11px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.custom-button{
	background-color: transparent;
	width: 90%;
    padding: 8px 1px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttons-row .categorias-btn{
	height: 150px;
	font-size: 12px;
}

.center{
	text-align: center;
}

.custom-button i{
	font-size: 20px;
}

#btnLogar{
	height: 40px;
}



#btnPesquisarHome i{
	color: #333;
}

.form-content{
	margin-top: 50%;
}

.form-content .input-idrink{
	text-align: center;
}

.direita{
	text-align: right;
}

.text-center{
	text-align: center;
}

.row-precocalculado{
	font-size: 20px;
	font-weight: bold;
}

.text-carregando{
	text-align: center;
	color: #FF7F00;
}

.img-carregamento{
	width: 100px;
}

.navbar{
	color: #ff9800;
}

.navbar a i{
	color: #ff9800;
}

.desc-bebida{
	line-height: normal;
}

.detprecoprod{
	font-size: 30px;
}

.bold{
	font-weight: bold;
}

.swiper-container{
	background-color: #444;
}

.theme-white .modal-button{
	color: #ff9800;
}

.menu-profile{
	height: 230px;
	color: #ff9800;
	background-color: #fff;
}

.menu-profile a{
	color: #ff9800;
}

.options-menu{
	background-color: #fff;
}

.checkmark{
	width: 200px;
}

.pedidoconcl{
	font-size: 24px;
}

.select{
	background-color: transparent;
}

.item-input{
	float: right;
}

/* ----- CUSTOMIZED IDS -------*/

#txtQtdPedido{
	width: 60px;
	height: 30px;
	text-align: center;
	font-size: 24px;
}

#alertzeroitens{
	display: none;
}

#txtFotoProduto{
	max-width: 120px;
	/*height: 300px;*/
}

#txtNomeProduto{
	font-size: 17px;
	font-weight: bold;
}

#imgIconePais{
	width: 21px;
	float: left;
}

#txtPaisOrigem{
	margin-left: 5px;
}

#btnOtimo{
	width: 100%;
}